<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1> llistat cinemes </h1>

<nav>
    <a href="/home">Home</a>
</nav>

<a th:href="@{/cinema/create}">Afegir cinema</a>

<table>

    <thead>

        <tr>

            <th>
                Nom
            </th>

            <th>
                ciutat
            </th>

        </tr>

    </thead>

    <tbody>

        <tr th:each="cinema : ${llista}">

            <td th:text="${cinema.name}">Nom</td>

            <td th:text="${cinema.city}">Ciutat</td>

            <td>
                
                <a th:href="@{/cinema/{id}(id=${cinema.id})}">Veure detall</a>
                <a th:href="@{/cinema/delete/{id}(id=${cinema.id})}">Esborrar</a>
                <a th:href="@{/cinema/edit/{id}(id=${cinema.id})}">Editar</a>
                

                

            </td>

        </tr>

    </tbody>

</table>


    
</body>
</html>

