<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cinema</title>

</head>

<body>

    <h1>Introdueix les dades del cinema</h1>

    <nav>

        <a href="/home">Inici</a>
        <a href="/cinemes">Cinemes</a>

    </nav>

<form th:action="@{/cinema/create}" th:object="${cinema}"  method="post">

<br>

    <label> Nom</label>

<br>

    <input type="text" th:field="*{name}">

<br>

    <label> Ciutat</label>

<br>

    <input type="text" th:field="*{city}">
<br>

    <label>Adreça</label>

<br>

    <input type="text" th:field="*{address}">

<br>

    <label>Codi postal</label>

<br>

    <input type="text" th:field="*{postalCode}">
    
<br>

    <button type="submit">Crear cinema</button>    

</body>

</html>