<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"></html>

<html lang="en"></html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema DAW</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>

    <header>

        <h1>Cinema</h1>
        
        <nav>

                <a href="/home">Inici</a>
                <a href="/cinemes">Cinemes</a>
                <a href="/movies">Pel·lícules</a>  
                
        </nav>

    </header> 
    
    <section>

        <h2>Benvingut a Cinema DAW</h2>
        <p>Descobreix les últimes pel·lícules, horaris i molt més!</p>

    </section>

    <section>

        <h2>Notícies</h2>
        
        <div th:each="news : ${llista}">

            <h3 th:text="${news.headline}"></h3>

            <p th:text="${news.body}"></p>

        </div>

    </section>

    <footer>

        <p>2026 Cinema DAW.</p>

    </footer>
    
</body>
</html>