<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">

        <section>

            <h2>Benvingut a Cinema DAW</h2>
            <p>Descobreix les últimes pel·lícules, horaris i molt més!</p>

        </section>

        <section>

            <h2>Notícies</h2>

            <div th:each="news : ${llista}">

                <h3 th:text="${news.headline}"></h3>

                <p th:text="${news.body}"></p>

            </div>

        </section>

    </div>

</div>

</body>
</html>
