<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalls del cinema</title>
    <link rel="stylesheet" th:href="@{/CSS/styles.css}">

</head>

<body>

    <h1>Detalls del cinema: <span th:text="${cinema.name}"></span></h1> 
    
    <nav>

        <a href="/home">Inici</a>
        <a href="/cinemes">Cinemes</a>
        <a th:href="@{/room/create/{id}(id=${cinema.id})}">Afegir sala</a>

    </nav>

<table>

    <thead>

        <tr>

            <th>
                Nom
            </th>

            <th>
                ciutat
            </th>

            <th>
                Adreça
            </th>

            <th>
                Codi postal
            </th>

        </tr>

    </thead>

    <tbody>

        <tr>

            <td th:text="${cinema.name}">Nom</td>

            <td th:text="${cinema.city}">Ciutat</td>

            <td th:text = "${cinema.address}">Adreça</td>

            <td th:text = "${cinema.postalCode}">Codi postal</td>

        </tr>

        
    </tbody>

</table>

<table>

    <h1>Sales</h1>

        <ul>

            <li th:each="sala : ${cinema.rooms}">

                <span th:text="${sala.name} + ' - Capacitat: ' + ${sala.capacity}"></span>
                <a th:href="@{/room/view/{id}(id=${sala.id})}"> Veure Detall</a>
                <a th:href="@{/room/edit/{id}(id=${sala.id})}" th:text="'Editar '"></a>
                <a th:href="@{/room/delete/{id}(id=${sala.id})}" th:text="'Esborrar '"></a>
                
            </li>

        </ul>

</table>
    
</body>

</html>
