<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">

        <h1>Detalls del cinema: <span th:text="${cinema.name}"></span></h1>

        <a th:href="@{/room/create/{id}(id=${cinema.id})}">Afegir sala</a>

        <table>

            <thead>

                <tr>

                    <th>Nom</th>

                    <th>Ciutat</th>

                    <th>Adreça</th>

                    <th>Codi postal</th>

                </tr>

            </thead>

            <tbody>

                <tr>

                    <td th:text="${cinema.name}">Nom</td>

                    <td th:text="${cinema.city}">Ciutat</td>

                    <td th:text="${cinema.address}">Adreça</td>

                    <td th:text="${cinema.postalCode}">Codi postal</td>

                </tr>

            </tbody>

        </table>

        <h2>Sales</h2>

        <ul>

            <li th:each="sala : ${cinema.rooms}">

                <span th:text="${sala.name} + ' - Capacitat: ' + ${sala.capacity}"></span>
                <a th:href="@{/room/view/{id}(id=${sala.id})}">Veure Detall</a>
                <a th:href="@{/room/edit/{id}(id=${sala.id})}">Editar</a>
                <a th:href="@{/room/delete/{id}(id=${sala.id})}">Esborrar</a>
                 <a th:href="@{/seats/{id}(id=${sala.id})}">Veure Seients</a>

            </li>

        </ul>

    </div>

</div>

</body>
</html>
