<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Editar pel·lícula</title>
	<link rel="stylesheet" th:href="@{/CSS/styles.css}">

</head>

<body>

	<h1>Introdueix les dades de la pel·lícula que vols modificar</h1>

	<nav>

		<a href="/home">Inici</a>
		<a href="/movies">Pel·lícules</a>

	</nav>

<form th:action="@{/movie/edit}" th:object="${movie}" method="post">

	<input type="text" th:field="*{id}" hidden /><br>

<br>

	<label>Títol</label>

<br>

	<input type="text" th:field="*{title}">
	<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

<br>

	<label>Durada</label>

<br>

	<input type="number" th:field="*{duration}">
	<div th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>

<br>

	<label>Gènere</label>

<br>

	<input type="text" th:field="*{genre}">
	<div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>

<br>

	<label>Descripció</label>

<br>

	<input type="text" th:field="*{description}">
	<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>

<br>

	<label>Data d'estrena</label>

<br>

	<input type="date" th:field="*{releaseDate}">
	<div th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}"></div>

<br>

	<button type="submit">Editar pel·lícula</button>

</form>

</body>

</html>
