<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">

        <h1>Introdueix les dades de la sala</h1>

        <form th:action="@{/room/create/{cinemaId}(cinemaId=${room.cinema.id})}" th:object="${room}" method="post">

            <input type="hidden" th:field="*{cinema.id}" id="cinemaId" />

            <br>

            <label>Nom</label>

            <br>

            <input type="text" th:field="*{name}">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

            <br>

            <label>Capacitat</label>

            <br>

            <input type="text" th:field="*{capacity}">
            <div th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></div>

            <br>

            <button type="submit">Crear sala</button>

        </form>

    </div>

</div>

</body>
</html>
