<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear sala</title>
    <link rel="stylesheet" th:href="@{/CSS/styles.css}">

</head>

<body>

    <h1>Introdueix les dades de la sala</h1>

    <nav>

        <a href="/home">Inici</a>
        <a href="/cinemes">Cinemes</a>

    </nav>

<form th:action="@{/room/create/{cinemaId}(cinemaId=${room.cinema.id})}" th:object="${room}"  method="post">

    <input type="hidden" th:field="*{cinema.id}" id="cinemaId" />
<br>

    <label> Nom </label>

<br>

    <input type="text" th:field="*{name}">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

<br>

    <label> Capacitat </label>

<br>

    <input type="text" th:field="*{capacity}">
    <div th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></div>
    
<br>
    
<br>

    <button type="submit">Crear sala</button>    
<br>

</body>

</html>