<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">

        <h1>Detalls de la sala: <span th:text="${room.name}"></span></h1>

        <a th:href="@{/room/edit/{id}(id=${room.id})}">Editar sala</a>

        <table>

            <thead>

                <tr>

                    <th>Nom</th>

                    <th>Capacitat</th>

                </tr>

            </thead>

            <tbody>

                <tr>

                    <td th:text="${room.name}">Nom</td>

                    <td th:text="${room.capacity}">Capacitat</td>

                </tr>

            </tbody>

        </table>

    </div>

</div>

</body>
</html>
