<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

	<div th:fragment="content">

		<h1>Afegir projeccio</h1>

		<form th:action="@{/movie/{movieId}/screening/create(movieId=${screening.movie.id})}" th:object="${screening}" method="post">

			<input type="hidden" th:field="*{movie.id}" />

			<br>

			<label>Data i hora</label>

			<br>

			<input type="datetime-local" th:field="*{dateTime}" required>
			<div th:if="${#fields.hasErrors('dateTime')}" th:errors="*{dateTime}"></div>

			<br>

			<label>Preu</label>

			<br>

			<input type="number" step="0.01" min="0" th:field="*{price}" required>
			<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>

			<br>

			<label>Sala</label>

			<br>

			<select th:field="*{room.id}" required>
				<option value="">Selecciona una sala</option>
				<option th:each="room : ${rooms}" th:value="${room.id}"
						th:text="${room.name + ' - ' + room.cinema.name}"></option>
			</select>
			<div th:if="${#fields.hasErrors('room')}" th:errors="*{room}"></div>

			<br>

			<button type="submit">Guardar projeccio</button>

		</form>

	</div>

</div>

</body>
</html>
